<!DOCTYPE html>
<html>
	<head>
		<title>Recover Email</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> login}}
  {{> header}}
	<body>

		<div class="wrapper">
	    <div id='accFormContainer'>

	      <form action="/passwordRecoveryChange" method="post">

					<div class='formRow'>
						<div class='formRowLeft'>
							<label class='formLabel' for="rec_password">Enter your new password:</label>
						</div>
						<div class='formRowRight'>

							{{#if invalidEmailError}}
	              <div class="formMessage">Email is not valid. Please re-enter email.</div>
								{{else}}
								{{#if emailNotFound}}
										<div class='formMessage'>Email is not found in database. Please register.</div>
										{{else}}
	            {{/if}}
							{{/if}}

						<input class='formTextInput' type="text" name="rec_password">

						<label class='formLabel' for="rec_password">Re-Enter your new password:</label>
					</div>
					<div class='formRowRight'>

						{{#if invalidEmailError}}
							<div class="formMessage">Email is not valid. Please re-enter email.</div>
							{{else}}
							{{#if emailNotFound}}
									<div class='formMessage'>Email is not found in database. Please register.</div>
									{{else}}
						{{/if}}
						{{/if}}

					<input class='formTextInput' type="text" name="rec_email">

					
					</div>
              </div>


					<div class='formRow'>
						<input class='formSubmit' id='blank' type="submit" value="Change Password">
					</div>

        </form>
				</div>
      </div>

			<script>
			resetPasswordClicked();


			function resetPasswordClicked() {
					var token = document.location.href.split('token=')[1];
					console.log(token);


			}

		</script>
	</body>
  {{> footer}}
</html>
